<!DOCTYPE html>
<html lang="pt-BR" ng-app="MyApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Curso de MEAN</title>
</head>
<body ng-controller="FilmesController">
	<h1>Seja Bem vindo ao treinamento de MEAN da Alura!</h1>

	<p>{{filme}}</p>

<script src="/javascripts/angular.js"></script>
<script src="/javascripts/filmesControllers.js"></script>
</body>
</html>