<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Página Principal</title>
</head>
<body ng-controller="FilmesController">
	<h1>Seja Bem vindo ao treinamento de mean da Alura!</h1>

	<p>{{filme}}</p>



<script src="/javascript/angular.min.js"></script>
<script src="/javascript/filmesControllers.js"></script>
</body>
</html>