<table class="table table-bordered">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Descrição</th>
			<th>Preço</th>
			<td>&nbsp;</td>
		</tr>
	</thead>
	<tbody>
		<%= render @produtos %>
	</tbody>
</table>